body {
  margin: 0;
}

.aff-1 {
  background: cornflowerblue;
}

.aff-2 {
  background: orange;
}

.aff-3 {
  background: fuchsia;
}

.card {
  color: white;
  font-family: Helvetica;
  font-size: 40px;
  height: 100px;
  margin: 5px;
  padding: 10px;
}

.tall {
  height: 150px;
}

.short {
  height: 50px;
}

@media all and (min-width: 500px) {
  #container {
    align-items: flex-start;  /* defines how flex items are laid out along the cross axis */
    display: -webkit-flex;    /* declares that this is flex container */
    flex-direction: column;   /* establishes the main axis */
    flex-wrap: wrap;          /* breaks flex items into multiple lines */
    max-width: 990px;
  }

  .card {
    width: 300px;
  }

  .a {
    width: 600px;
  }

  .b {
    order: 1;  /* determines which flex items appear first */
  }

  .hero {
    width: 960px;
  }

  /* two-thirds-one-third backwards */
  .backwards .a {
    width: 300px;
  }

  .backwards .b {
    width: 600px;
  }
 
  /* thirds */
  .thirds .a {
    width: 300px;
  }
  
  .thirds .c {
    order: 2;
  }

  /* halves */
  .halves .a,
  .halves .b {
    width: 465px;
  }
}
